<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <body>
    <h1>Welcome</h1>
    <center>
        <a href='https://slack.com/oauth/authorize?client_id=<%= "43801518769.61761271314" %>&redirect_uri=<%= "https://24179f1b.ngrok.io/" %&scope=bot'><img alt="Add to Slack" height="40" width="139" src="https://api.slack.com/img/add_to_slack@2x.png"></a>

    </center>
  </body>
</html>